# Google Apps Script Web App URL
# Deploy your Apps Script sebagai web app dan paste URL-nya di sini
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwIe4a6DIQS0VgdKejuy5Iunr7hh7e4JZZpiL0gfKZF_IB8T2qNklkfCSn_pUQHzcr3fA/exec

# Password admin (simpan di Vercel environment variables)
ADMIN_PASSWORD=kknjoho123

# Secret key untuk JWT session (generate random string panjang)
AUTH_SECRET=banksampah-karangtaruna-rt05-2024-kuncirahasia

# URL production aplikasi
NEXT_PUBLIC_APP_URL=https://banksampahjoho.vercel.app
